::-webkit-scrollbar {
    width: 3px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.ui-mobile .type-home .ui-content { margin: 0; background: #e5e5e5 url(../images/jqm-sitebg.png) top center repeat-x;}
.ui-mobile #jqm-homeheader { padding: 40px 10px 0; text-align: center; margin: 0 auto;}
.ui-mobile #jqm-homeheader h1 { margin: 0 0 ;}
.ui-mobile #jqm-homeheader p { margin: .3em 0 0; line-height: 1.3; font-size: .9em; font-weight: bold; color: #666;}
.ui-mobile #jqm-version { text-indent: -99999px; background: url(../images/version.png) top right no-repeat; width: 119px; height: 122px; overflow: hidden; position: absolute; z-index: 50; top: -11px; right: 0;}
.ui-mobile .jqm-themeswitcher { margin: 10px 25px 10px 10px;}
h2 { margin:1.2em 0 .4em 0;}
p code { font-size:1.2em; font-weight:bold;} 
h4 code {font-size:1.2em; font-weight:bold;}
dt { font-weight: bold; margin: 2em 0 .5em;}
dt code, dd code { font-size:1.3em; line-height:150%;}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
#jqm-homeheader img { width: 235px;}
/*img { max-width: 100%;}
.ui-mobile img {max-width: 100%;}*/
.ui-header .jqm-home { top: 0; }
nav { margin: 0; }
p.intro {font-size: .96em;line-height: 1.3;border-top: 1px solid #75ae18;border-bottom: 0;background: none;margin: 1.5em 0;padding: 1.5em 15px 0;}
p.intro strong {color: #558e08;}
.footer-docs {padding: 5px 0;}
.footer-docs p {margin-left:15px;font-weight: normal;font-size: .9em;}
.type-interior .content-secondary {border-right: 0;border-left: 0;margin: 10px -15px 0;background: #fff;border-top: 1px solid #ccc;}
.type-home .ui-content {margin-top: 5px;}.type-interior .ui-content {
padding-bottom: 0;
}
.content-secondary .ui-collapsible {
padding: 0 15px 10px;
}
.content-secondary .ui-collapsible-content {
padding: 0;
background: none;
border-bottom: none;
}
.content-secondary .ui-listview {
margin: 0;
}
iframe{
    width: 100%;
    border:none;
}
dt { 
margin: 35px 0 15px 0; 
background-color:#ddd; 
font-weight:normal;
}
dt code { 
display:inline-block; 
font-weight:bold;
color:#56A00E; 
padding:3px 7px; 
margin-right:10px; 
background-color:#fff; 
}
dd { 
margin-bottom:10px; 
}
dd .default { font-weight:bold; }
dd pre { 
margin:0 0 0 0; 
}
dd code { font-weight: normal; }
dd pre code { 
margin:0; 
border:none; 
font-weight:normal; 
font-size:100%; 
background-color:transparent; 
}
dd h4 { margin:15px 0 0 0; }
.localnav {
margin:0 0 20px 0;
overflow:hidden;
}
.localnav li {
float:left;
}
.localnav .ui-btn-inner { 
padding: .6em 10px; 
font-size:80%; 
}
.ui-dialog.dialog-actionsheet .ui-dialog-contain {
margin-top: 0;
}
.ui-bar-f {
border: 1px solid #56A00E;
background: #74b042;
color: #fff;
font-weight: bold;
text-shadow: 0 1px 1px #335413;
background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); 
background-image: -webkit-linear-gradient(#74b042, #56A00E); 
background-image:  -moz-linear-gradient(#74b042, #56A00E); 
background-image:   -ms-linear-gradient(#74b042, #56A00E);
background-image:   -o-linear-gradient(#74b042, #56A00E);
background-image:     linear-gradient(#74b042, #56A00E);
}
.ui-bar-f, 
.ui-bar-f input, 
.ui-bar-f select, 
.ui-bar-f textarea, 
.ui-bar-f button {
font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-f,
.ui-bar-f .ui-link-inherit {
color: #fff;
}
.ui-bar-f .ui-link {
color: #fff;
font-weight: bold;
}
.ui-btn-up-f {
border: 1px solid #3B6F07;
background: #56A00E;
font-weight: bold;
color: #fff;
text-shadow: 0 1px 1px #234403;
background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); 
background-image: -webkit-linear-gradient(#74b042, #56A00E);
background-image:  -moz-linear-gradient(#74b042, #56A00E); 
background-image:   -ms-linear-gradient(#74b042, #56A00E); 
background-image:   -o-linear-gradient(#74b042, #56A00E); 
background-image:     linear-gradient(#74b042, #56A00E);
}
.ui-btn-up-f a.ui-link-inherit {
color: #fff;
}
.ui-btn-hover-f {
border: 1px solid #3B6F07;
background: #6EBC1F;
font-weight: bold;
color: #fff;
text-shadow: 0 1px 1px #234403;
background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC963), to(#6EBC1F)); 
background-image: -webkit-linear-gradient(#8FC963, #6EBC1F);
background-image:  -moz-linear-gradient(#8FC963, #6EBC1F);
background-image:   -ms-linear-gradient(#8FC963, #6EBC1F);
background-image:   -o-linear-gradient(#8FC963, #6EBC1F);
background-image:     linear-gradient(#8FC963, #6EBC1F);
}
.ui-btn-hover-f a.ui-link-inherit {
color: #fff;
}
.ui-btn-down-f {
border: 1px solid #3B6F07;
background: #3d3d3d;
font-weight: bold;
color: #fff;
text-shadow: 0 1px 1px #234403;
background-image: -webkit-gradient(linear, left top, left bottom, from(#56A00E), to(#64A234)); 
background-image: -webkit-linear-gradient(#56A00E, #64A234);
background-image:  -moz-linear-gradient(#56A00E, #64A234);
background-image:   -ms-linear-gradient(#56A00E, #64A234);
background-image:   -o-linear-gradient(#56A00E, #64A234);
background-image:     linear-gradient(#56A00E, #64A234);
}
.ui-btn-down-f a.ui-link-inherit {
color: #fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
font-family: Helvetica, Arial, sans-serif;
text-decoration: none;
}
@media all and (min-width: 650px){
.type-home .ui-content {
margin-top: 5px;
}
.ui-mobile #jqm-homeheader {
max-width: 340px;
}
.ui-mobile .jqm-themeswitcher {
float: right;
}
p.intro {
margin: 2em 0;
}
.type-home .ui-content,
.type-interior .ui-content {
padding: 0;
}
.type-interior .ui-content {
background-position: 45%;
overflow: auto;
}
.content-secondary {
text-align: left;
float: left;
width: 45%;
background: none;
}
.content-secondary,
.type-interior .content-secondary {
margin: 30px 0 20px 2%;
padding: 20px 4% 0 0;
background: none;
border-top: none;
}
.type-index .content-secondary {
padding: 0;
}
.content-secondary .ui-collapsible {
margin: 0;
padding: 0;
}
.content-secondary .ui-collapsible-content {
border: none;
}
.type-index .content-secondary .ui-listview {
margin: 0;
}

.ui-mobile #jqm-homeheader {
padding: 0;
}
.content-primary {
width: 45%;
float: right;
margin-top: 30px;
margin-right: 1%;
padding-right: 1%;
}
.content-primary ul:first-child {
margin-top: 0;
}
.content-secondary h2 {
position: absolute;
left: -9999px;
}
.type-interior .content-primary {
padding: 1.5em 6% 3em 0;
margin: 0;
}
.content-secondary .ui-collapsible-heading {
display: none;
}
.content-secondary .ui-collapsible-contain {
margin:0;
}
.content-secondary .ui-collapsible-content {
display: block;
margin: 0;
padding: 0;
}
.type-interior .content-secondary .ui-li-divider {
padding-top: 1em;
padding-bottom: 1em;
}
.type-interior .content-secondary {
margin: 0;
padding: 0;
}

}
@media all and (min-width: 750px){
.type-home .ui-content,
.type-interior .ui-content {
background-position: 39%;
}
.content-secondary {
width: 34%;
}
.content-primary {
width: 56%;
padding-right: 1%;
}
.type-interior .ui-content {
background-position: 34%;
}
}
@media all and (min-width: 1200px){
.type-home .ui-content{
background-position: 38.5%;
}
.type-interior .ui-content {
background-position: 30%;
}
.content-secondary {
width: 30%;
padding-right:6%;
margin: 30px 0 20px 5%;
}
.type-interior .content-secondary {
margin: 0;
padding: 0;
}
.content-primary {
width: 50%;
margin-right: 5%;
padding-right: 3%;
}
.type-interior .content-primary {
width: 60%;
}
}
.ad{
    width: 100%;
    background-color: white;
    height: 50px;
    z-index: 9999;
}
#mainHeader{position: fixed;top:0px;width:100%;z-index: 1100; background-color: white;}
#mainFooter{position: fixed;bottom:-1px;width:100%;z-index: 1100;}
.tooltipcontent{display: table-cell; vertical-align: middle;}
#footer a{margin: 8px;}
#footer #rightfb{float: right; margin-right:10px;}
#footer #rightfbop{float: right; margin-right:10px;}
#header img{width:100%;}
.footeroverload{position:fixed !important;z-index:999999;width:100%; height:0px; bottom:0px; left:0px; font-size: medium;}
.footeroverload a{background-color: white;}
.despmenu{width: 100%;height: 24px;background: rgba(0, 0, 0, .6);}
.despmenu:hover{background: rgba(80, 80, 80, .6);}
.despheader img{margin-top: 11px !important;}
.despmenu img{position: absolute; margin-top: 2px;left: 50%; margin-left: -5px;}
.dataview,.dataviewBars,.search_container{visibility: hidden;}
/*css scrolls*/



/* Tiny Scrollbar */
.scrollBarContainer {
    height: 100%;
    width: 100%;
}
.scrollBarContainer .viewport {
    width: 100%; height: 100%; overflow: hidden; position: relative;
}
.scrollBarContainer .overview { width: 100%; list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; height: auto;
                        transition: background 1s, top 0.5s;
                        -moz-transition: background 1s, top 0.5s; /* Firefox 4 */
                        -webkit-transition: background 1s, top 0.5s; /* Safari and Chrome */
                        -o-transition:  background 1s, top 0.5s; /* Opera */
}
.scrollBarContainer .scrollbar{ background: transparent; position: absolute; background-position: 0 0; width: 7px; right:0px; z-index: 99999; }
.scrollBarContainer .track { background: transparent; height: 100%; width:5px; position: relative; padding: 0 1px; left: 0px; }
.scrollBarContainer .thumb {
    height: 3px; width: 4px; cursor: pointer; overflow: hidden; position: absolute; top: 0; border: 1px solid rgb(0,0,0); border-radius: 2px;

    background: rgb(153,153,153);  Old browsers 
    background: -moz-linear-gradient(left, rgb(153,153,153) 0%, rgb(102,102,102) 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left center, left bottom, color-stop(0%,rgb(153,153,153)), color-stop(100%,rgb(102,102,102)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(left, rgb(153,153,153) 0%,rgb(102,102,102) 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(left, rgb(153,153,153) 0%,rgb(102,102,102) 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(left, rgb(153,153,153) 0%,rgb(102,102,102) 100%);  IE10+ 
    background: linear-gradient(left, rgb(153,153,153) 0%,rgb(102,102,102) 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(153,153,153)', endColorstr='rgb(102,102,102)',GradientType=1 );  IE6-9 

    transition: opacity 1s, top 0.5s;
    -moz-transition: opacity 1s, top 0.5s;  Firefox 4 
    -webkit-transition: opacity 1s, top 0.5s;  Safari and Chrome 
    -o-transition:  opacity 1s, top 0.5s;  Opera 
    opacity: 0;
}/*
.scrollBarContainer:hover .thumb {
    opacity:.9;
}*/
.scrollBarContainer .disable { display: none; }

.scrollBarRight{
    position: fixed;
    top: 16px;
    right: 0px;
    width: 50px;
    z-index: 9000;
    background:#111;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
}
.scrollBarRight > div:nth-child(3){
    height: 30px;
}
.scrollBarRight > div:first-of-type{
    border-bottom: groove 4px #333;
    width: 50px;
    height: 40px;
    background: url(../images/arrowRight.png);
    background-repeat: no-repeat;
    background-position: 18px 12px;
}
.scrollBarRight > div:nth-child(2){
    height: 30px;
    width: 50px;
    border-bottom: groove 4px #333;
    background: url(../images/arrowUp2.png);
    background-repeat: no-repeat;
    background-position: 15px 4px;
}
.scrollBarRight > div:last-of-type{
    height: 30px;
    width: 50px;
    border-top: groove 4px #333;
    background: url(../images/arrowDown2.png);
    background-repeat: no-repeat;
    background-position: 15px 6px;
}

.menuBar{
    position: fixed;
    opacity:0;
    width: 40px;
    height: 40px;
    background: url(../images/menu.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
    z-index: 9001;
    background-size: 70%;
    top: 16px;
    right: 0px;
}body{
                       overflow:hidden;
                       background-color:#FFFFFF;;    
                      filter: alpha(opacity=0);
                      opacity:0;
                      font-family:Arial, Verdana, Helvetica, sans-serif;font-size:medium;
                      color:#333333;
                      -webkit-user-select: none;
                      -khtml-user-select: none;
                      -moz-user-select: none;
                      -o-user-select: none;
                      user-select: none;}
                      img{display:block;}
                      .content{color:#333333;
                                font-family:Arial, Verdana, Helvetica, sans-serif;font-size:medium;;
                                position:relative;
                                padding:0px;
                                width:100%;
                                z-index:99;
                                height: auto !important;}
                      b{
                      font-family:Arial, Verdana, Helvetica, sans-serif;font-size:medium;
                      color:#000000;
                       }
                      .footer span a span span,.footeroverload a span span{
                      font-size:medium;
                      color:#333333;
                       }.header{height:auto; 
                              margin:0px;
                              position:relative;
                              border-bottom-color:#000000 1px solid;
                              }#footer{height:43px;}
                      .footer{background:#ffffff;
                            position:relative;
                            border-top-color:#000000 1px solid;
                            background-color:#666666;;
                            }.element_bar{
                            width:100%;
                            background:#ffffff;
                            z-index:1100;
                            }.element_row{
                            overflow:auto;
                            overflow-y:hidden;
                            white-space: nowrap;
                            }
                            .inner_row{
                                display: inline-block;
                                width: auto !important;
                            }
                            .element_row_child{
                            float:left;
                            display:table-cell;
                            margin-left:0px;
                            min-height:1px;
                            }.df_w_element_100{
                            width:100%;
                            }.sh_el_shad859296{
                            background-image: linear-gradient(bottom , rgba(100,100,100,1) 0%, rgba(132,132,132,1) 100%);
                            background-image: -o-linear-gradient(bottom , rgba(100,100,100,1) 0%, rgba(132,132,132,1) 100%);
                            background-image: -moz-linear-gradient(bottom , rgba(100,100,100,1) 0%, rgba(132,132,132,1) 100%);
                            background-image: -webkit-linear-gradient(bottom , rgba(100,100,100,1) 0%, rgba(132,132,132,1) 100%);
                            background-image: -ms-linear-gradient(bottom , rgba(100,100,100,1) 0%, rgba(132,132,132,1) 100%);
                            background-image: -webkit-gradient(
                                    linear,
                                    left bottom,
                                    left top,
                                    color-stop(0, rgba(100,100,100,1)),
                                    color-stop(1, rgba(132,132,132,1))
                            );

                            ;
                            }.element_body_child{
                            float:left;
                            clear:left;
                            min-height:1px;
                            }.df_w_element_5{
                            width:5%;
                            }.df_w_element_15{
                            width:15%;
                            }.df_w_element_70{
                            width:70%;
                            }.element_line{
                            padding-top:4px;
                            padding-bottom:4px;
                            }.df_line_color__none{
                            border-top: 1px #333333 none;
                            border-bottom: 1px #333333 none;
                            height:0px;
                            width:100%;
                            }.element_text{
                            word-wrap: break-word;
                            white-space:pre-wrap;
                            }.df_color_font_colffffff{
                                color:#ffffff;
                                }.df_font_style_fnt2,.df_font_style_fnt2 b{
                                font-family:Arial, Verdana, Helvetica, sans-serif !important;font-size:small !important;
                                }.df_w_element_20{
                            width:20%;
                            }.df_w_element_30{
                            width:30%;
                            }.df_w_element_8{
                            width:8%;
                            }.df_w_element_35{
                            width:35%;
                            }.df_color_font_bold_colffffff b{
                                color:#ffffff;
                                }.df_txt_al_center{
                                        text-align:center;
                                        }.sh_el_shad859291{
                            background-color:rgba(0,0,0,0);;
                            }.df_w_element_3{
                            width:3%;
                            }.df_w_element_18{
                            width:18%;
                            }.df_w_element_52{
                            width:52%;
                            }.df_w_element_22{
                            width:22%;
                            }.df_w_element_90{
                            width:90%;
                            }.df_font_style_fnt3,.df_font_style_fnt3 b{
                                font-family:Arial, Verdana, Helvetica, sans-serif !important;font-size:medium !important;
                                }.df_al_parent_center{
                                        margin-left:auto !important;
                                        margin-right:auto !important;
                                        float: none !important;
                                        }.df_line_color__dashed{
                            border-top: 1px #333333 dashed;
                            border-bottom: 1px #333333 dashed;
                            height:0px;
                            width:100%;
                            }.df_w_element_10{
                            width:10%;
                            }.df_w_element_80{
                            width:80%;
                            }.df_w_element_85{
                            width:85%;
                            }
