.bgSection{
                        background-color:#FFFFFF;!important;
                        background-image:url(../images/Img891190.png)!important;
                        background-position:0px 0px;
                        background-size:100%,100%!important;
                        background-repeat:no-repeat!important;
                        background-attachment:fixed!important;
                        background-color:#FFFFFF!important;
                        position:fixed;
                        width:100%;
                        height:100%;
                        z-index:10;
                        }.main_body{
                        1
                        color:;
                        }.main_body b{
                    1
                    color: !important;
                    }
